Creating a Pandas DataFrame :

A Dataframe is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns

Creating an empty dataframe : 

A basic DataFrame, which can be created is an Empty Dataframe. An Empty Dataframe is created just by calling a dataframe constructor.

In [1]:
import pandas as pd

df = pd.DataFrame() #calling dataframe constructor
print(df)

Empty DataFrame
Columns: []
Index: []

Creating a dataframe using List: 

DataFrame can be created using a single list or a list of lists

In [3]:
import pandas as pd

lists = (['v','i','s','h','n','u']) # list of strings
df = pd.DataFrame(lists) # Calling DataFrame constructor on list
print(df)

   0
0  v
1  i
2  s
3  h
4  n
5  u

Creating DataFrame from dict of ndarray/lists:

In [7]:
import pandas as pd

data = {'name':['vishnu','ruthran','laya'],'age':[20, 10, 5]}

df = pd.DataFrame(data)
print(df)

      name  age
0   vishnu   20
1  ruthran   10
2     laya    5

Create pandas dataframe from lists using dictionary:

In [9]:
import pandas as pd
 
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
df = pd.DataFrame(dict)
 
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

Python Pandas Series :

In [10]:
# import pandas as pd
import pandas as pd
 
# simple array
data = [1, 2, 3, 4]
 
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [12]:
import pandas as pd
 
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

Accessing Element from Series with Position : 

In order to access the series element refers to the index number. Use the index operator [ ] to access an element in a series. The index must be an integer. In order to access multiple elements from a series, we use Slice operation.

Accessing first 5 elements of Series :

In [17]:
import pandas as pd

data = (['v','i','s','h','n','u','p','r','i','y','a'])
df = pd.Series(data)

print(df[:6])

0    v
1    i
2    s
3    h
4    n
5    u
dtype: object

In [18]:
import pandas as pd

data = (['v','i','s','h','n','u','p','r','i','y','a'])
df = pd.Series(data)

print(df[6:])

6     p
7     r
8     i
9     y
10    a
dtype: object

Accessing Element Using Label (index) :

In [2]:
import pandas as pd

data = (['v','i','s','h','n','u','p','r','i','y','a'])
df = pd.Series(data,index=[1,2,3,4,5,6,7,8,9,10,11])

print(df[10])

y

In [8]:
# importing pandas module  
import pandas as pd  

#file_path = "
# making data frame  
df = pd.read_csv("homeprices.csv")  
   
ser = pd.Series(df['area']) 
data = ser.head(10)
data

0    2600
1    3000
2    3200
3    3600
4    4000
5    4100
Name: area, dtype: int64

Binary Operation on Series :

In [9]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

Conversion Operation on Series :

In [10]:
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
data = pd.read_csv("homeprices.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["area"]= data["area"].astype(int) 
data["bedrooms"]= data["bedrooms"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 area          int64
bedrooms    float64
age           int64
price         int64
dtype: object

AFTER CONVERSION
 area         int32
bedrooms    object
age          int64
price        int64
dtype: object

In [1]:
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("homeprices.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["area"]) 
   
# converting to list 
area_list = data["area"].tolist() 
   
# storing dtype after operation 
dtype_after = type(area_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
area_list

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[2600, 3000, 3600, 4000, 4100]

In [4]:
# import pandas and numpy
import pandas as pd
import numpy as np
 
# series with numpy linspace()
ser1 = pd.Series(np.linspace(3, 33, 3))
print(ser1)
 
# series with numpy linspace()
ser2 = pd.Series(np.linspace(1, 100, 10))
print("quot\n" , ser2)

0     3.0
1    18.0
2    33.0
dtype: float64
quot
 0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

In [5]:
# code
import pandas as pd
ser=pd.Series(range(10))
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
import pandas as pd
ser=pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [7]:
import pandas as pd
import numpy as np
ser=np.arange(10,15)
serobj=pd.Series(data=ser*5,index=ser)
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int32