Dealing with Rows and Columns in Pandas DataFrame :

In [6]:
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Age':[27, 24, 22, 32],
		'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
	    'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df)

print("---------------------------------------------")
# select two columns
print(df[['Name','Qualification']])

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
---------------------------------------------
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [9]:
# importing pandas module
import pandas as pd

# making data frame from csv file
data = pd.read_csv("homeprices.csv", index_col ="area" )
print(data)
# dropping passed columns
data.drop(["age", "price"], axis = 1, inplace = True)

# display
print(data)

      bedrooms  age   price
area
2600       3.0   20  550000
3000       4.0   15  565000
3200       NaN   18  610000
3600       3.0   30  595000
4000       5.0    8  760000
4100       6.0    8  810000
      bedrooms
area
2600       3.0
3000       4.0
3200       NaN
3600       3.0
4000       5.0
4100       6.0

In [12]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("homeprices.csv", index_col ="area")

# retrieving row by loc method
first = data.loc[2600]
second = data.loc[4000]


print(first, "\n\n\n", second)

bedrooms         3.0
age             20.0
price       550000.0
Name: 2600, dtype: float64


 bedrooms         5.0
age              8.0
price       760000.0
Name: 4000, dtype: float64

In [13]:
# importing pandas module
import pandas as pd

# making data frame from csv file
data = pd.read_csv("homeprices.csv", index_col ="area" )

# dropping passed values
data.drop([2600, 3000], inplace = True)

# display
data

      bedrooms  age   price
area
3200       NaN   18  610000
3600       3.0   30  595000
4000       5.0    8  760000
4100       6.0    8  810000

 Pandas Extracting rows using .loc[] :

Pandas provide a unique method to retrieve rows from a Data frame. 

DataFrame.loc[] :

It is a method that takes only index labels and returns row or dataframe if the index label exists in the caller data frame.

 Extracting single Row :

In [15]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("homeprices.csv", index_col ="area") 

# retrieving row by loc method 
first = data.loc[2600] 
second = data.loc[4000] 


print(first, "\n\n\n", second)

bedrooms         3.0
age             20.0
price       550000.0
Name: 2600, dtype: float64


 bedrooms         5.0
age              8.0
price       760000.0
Name: 4000, dtype: float64

In [16]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("homeprices.csv", index_col ="area") 

# retrieving rows by loc method 
rows = data.loc[[3000,4000]] 

# checking data type of rows 
print(type(rows)) 

# display 
rows

<class 'pandas.core.frame.DataFrame'>

      bedrooms  age   price
area
3000       4.0   15  565000
4000       5.0    8  760000

Extracting multiple rows with same index :

In [20]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("homeprices.csv", index_col ="bedrooms") 

# retrieving rows by loc method 
rows = data.loc[4.0] 

# checking data type of rows 
print(type(rows)) 

# display 
rows

<class 'pandas.core.series.Series'>

area       3000
age          15
price    565000
Name: 4.0, dtype: int64

Extracting rows between two index labels :

In [22]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("homeprices.csv", index_col ="area") 

# retrieving rows by loc method 
rows = data.loc[2600:3600] 

# checking data type of rows 
print(type(rows)) 

# display 
rows

<class 'pandas.core.frame.DataFrame'>

      bedrooms  age   price
area
2600       3.0   20  550000
3000       4.0   15  565000
3200       NaN   18  610000
3600       3.0   30  595000

Extracting rows using Pandas .iloc[] :

In [23]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv('homeprices.csv')

# retrieving rows by loc method
row1 = data.loc[3]

# retrieving rows by iloc method
row2 = data.iloc[3]

# checking if values are equal
row1 == row2

area        True
bedrooms    True
age         True
price       True
Name: 3, dtype: bool

Selecting Multiple Rows using Pandas .iloc[] :

In [29]:
import pandas as pd

# Creating a sample DataFrame
data = pd.DataFrame({
	'Name': ['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5'],
	'Age': [25, 30, 22, 35, 28],
	'Salary': [50000, 60000, 45000, 70000, 55000]
})

# Setting 'Name' column as the index for clarity
data.set_index('Name', inplace=True)

# Displaying the original DataFrame
print("Original DataFrame:")
print(data)

# Extracting a single row by index
row_alice = data.iloc[0, :]
print("\nExtracted Row (Geek1):")
print(row_alice)

# Extracting multiple rows using a slice
rows_geek2_to_geek3 = data.iloc[1:3, :]
print("\nExtracted Rows (Geek2 to Geek3):")
print(rows_geek2_to_geek3)

Original DataFrame:
       Age  Salary
Name
Geek1   25   50000
Geek2   30   60000
Geek3   22   45000
Geek4   35   70000
Geek5   28   55000

Extracted Row (Geek1):
Age          25
Salary    50000
Name: Geek1, dtype: int64

Extracted Rows (Geek2 to Geek3):
       Age  Salary
Name
Geek2   30   60000
Geek3   22   45000

Boolean Indexing in Pandas :

In [32]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [True, False, True, False])

print(df)

         name  degree  score
True   aparna     MBA     90
False  pankaj     BCA     40
True   sudhir  M.Tech     80
False   Geeku     MBA     98

In [33]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

# creating a dataframe with boolean index 
df = pd.DataFrame(dict, index = [True, False, True, False])

# accessing a dataframe using .loc[] function 
print(df.loc[True])

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

In [35]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

# creating a dataframe with boolean index 
df = pd.DataFrame(dict, index = [True, False, True, False])

# accessing a dataframe using .iloc[] function 
print(df.iloc[1])

name      pankaj
degree       BCA
score         40
Name: False, dtype: object

In [40]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [0, 1, 2, 3])



print(df[[True, False, True, False]])

     name  degree  score
0  aparna     MBA     90
2  sudhir  M.Tech     80

In [41]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["BCA", "BCA", "M.Tech", "BCA"],
		'score':[90, 40, 80, 98]}

# creating a dataframe 
df = pd.DataFrame(dict)

# using a comparison operator for filtering of data
print(df['degree'] == 'BCA')

0     True
1     True
2    False
3     True
Name: degree, dtype: bool

In [42]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["BCA", "BCA", "M.Tech", "BCA"],
		'score':[90, 40, 80, 98]}


df = pd.DataFrame(dict, index = [0, 1, 2, 3])

mask = df.index == 0

print(df[mask])

     name degree  score
0  aparna    BCA     90

In [45]:
# importing pandas package 
import pandas as geek 
	
# making data frame from csv file 
data = geek.read_csv("homeprices.csv") 
	
# Integer slicing 
print("Slicing only rows(till index 3):") 
x1 = data.iloc[:3, ] 
print(x1, "\n") 

print("Slicing rows and columns(rows=4, col 1-4, excluding 4):") 
x2 = data.iloc[:3, 1:3] 
print(x2)

Slicing only rows(till index 3):
   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000

Slicing rows and columns(rows=4, col 1-4, excluding 4):
   bedrooms  age
0       3.0   20
1       4.0   15
2       NaN   18

Pandas Series.str.slice() :

In [46]:
# importing pandas module 
import pandas as pd 
	
# making data frame 
data = pd.read_csv("homeprices.csv") 
	
# removing null values to avoid errors 
data.dropna(inplace = True) 

# start stop and step variables 
start, stop, step = 0, -2, 1

# converting to string data type 
data["area"]= data["area"].astype(str) 

# slicing till 2nd last element 
data["area (int)"]= data["area"].str.slice(start, stop, step) 

# display 
data.head(10)

   area  bedrooms  age   price area (int)
0  2600       3.0   20  550000         26
1  3000       4.0   15  565000         30
3  3600       3.0   30  595000         36
4  4000       5.0    8  760000         40
5  4100       6.0    8  810000         41

How to take column-slices of DataFrame in Pandas :

In [47]:
# importing pandas
import pandas as pd

# Using DataFrame() method from pandas module
df1 = pd.DataFrame({"a": [1, 2, 3, 4, 5, 6, 7], 
					"b": [2, 3, 4, 2, 3, 4, 5], 
					"c": [3, 4, 5, 2, 3, 4, 5], 
					"d": [4, 5, 6, 2, 3, 4, 5], 
					"e": [5, 6, 7, 2, 3, 4, 5]})

display(df1)

   a  b  c  d  e
0  1  2  3  4  5
1  2  3  4  5  6
2  3  4  5  6  7
3  4  2  2  2  2
4  5  3  3  3  3
5  6  4  4  4  4
6  7  5  5  5  5

In [48]:
df2 = df1.reindex(columns = ['c','b'])
print(df2)

   c  b
0  3  2
1  4  3
2  5  4
3  2  2
4  3  3
5  4  4
6  5  5

In [49]:
df2 = df1.loc[:, "b":"d":2]
print(df2)

   b  d
0  2  4
1  3  5
2  4  6
3  2  2
4  3  3
5  4  4
6  5  5

In [50]:
df2 = df1.loc[:, "c":"e":1]
print(df2)

   c  d  e
0  3  4  5
1  4  5  6
2  5  6  7
3  2  2  2
4  3  3  3
5  4  4  4
6  5  5  5

In [51]:
df2 = df1.iloc[:, 1:3:1]
print(df2)
#Syntax: [ start : stop : step]

   b  c
0  2  3
1  3  4
2  4  5
3  2  2
4  3  3
5  4  4
6  5  5

In [52]:
df2 = df1.iloc[:, 0:3:2]
print(df2)

   a  c
0  1  3
1  2  4
2  3  5
3  4  2
4  5  3
5  6  4
6  7  5