Pandas Dataframe/Series.head() method :

In [1]:
# importing pandas module 
import pandas as pd 

# making data frame 
data = pd.read_csv("homeprices.csv") 

# calling head() method 
# storing in new variable 
data_top = data.head() 

# display 
data_top

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [2]:
# importing pandas module 
import pandas as pd 

# making data frame 
data = pd.read_csv("homeprices.csv") 

# number of rows to return 
n = 3

# creating series 
series = data["area"] 

# returning top n rows 
top = series.head(n = n) 

# display 
top

0    2600
1    3000
2    3200
Name: area, dtype: int64

Pandas Dataframe/Series.tail() method :

In [3]:
# importing pandas module 
import pandas as pd 
  
# making data frame 
data = pd.read_csv("homeprices.csv") 
  
# calling tail() method  
# storing in new variable 
data_bottom = data.tail() 
  
# display 
data_bottom

   area  bedrooms  age   price
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
# importing pandas module 
import pandas as pd 
  
# making data frame 
data = pd.read_csv("homeprices.csv") 
  
# number of rows to return 
n = 12
  
# creating series 
series = data["age"] 
  
# returning top n rows 
bottom = series.tail(n = n) 
  
# display 
bottom

0    20
1    15
2    18
3    30
4     8
5     8
Name: age, dtype: int64

Pandas DataFrame describe() :


Pandas describe() is used to view some basic statistical details like percentile, mean, std, etc. of a data frame or a series of numeric values.

In [8]:
import pandas as pd
# reading and printing csv file
data = pd.read_csv('homeprices.csv')
print(data.head())

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
import pandas as pd
data = pd.read_csv('homeprices.csv')

# removing null values to avoid errors
data.dropna(inplace=True)

# percentile list
perc = [.20, .40, .60, .80]

# list of dtypes to include
include = ['object', 'float', 'int']

# calling describe method
desc = data.describe(percentiles=perc, include=include)

# display
desc

              area  bedrooms        age          price
count     5.000000   5.00000   5.000000       5.000000
mean   3460.000000   4.20000  16.200000  656000.000000
std     646.529195   1.30384   9.230385  120176.952865
min    2600.000000   3.00000   8.000000  550000.000000
20%    2920.000000   3.00000   8.000000  562000.000000
40%    3360.000000   3.60000  12.200000  583000.000000
50%    3600.000000   4.00000  15.000000  595000.000000
60%    3760.000000   4.40000  17.000000  661000.000000
80%    4020.000000   5.20000  22.000000  770000.000000
max    4100.000000   6.00000  30.000000  810000.000000

Describing series of strings :

In [10]:
# importing pandas module
import pandas as pd

# making data frame
data = pd.read_csv("homeprices.csv")

# removing null values to avoid errors
data.dropna(inplace=True)

# calling describe method
desc = data["price"].describe()

# display
desc

count         5.000000
mean     656000.000000
std      120176.952865
min      550000.000000
25%      565000.000000
50%      595000.000000
75%      760000.000000
max      810000.000000
Name: price, dtype: float64